@import './variables.scss';

.landing-container {
    background: $color1;
    height: 100%;
    width: 100%;
    color: $color6;
}

.landing-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
